*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

# Created by Iris build
*.so

# Pydev/Eclipse/PyCharm files
.project
.pydevproject
.settings
.idea

# Created by editiors
*~
\#*
\.\#*
*.swp
